.forgotPassword {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}
.forgotPassword > h1 {
    font-size: 23px;
}
.forgotPassword > .forgotPasswordForm > .row > input{
    width: 232px;
    padding: 10px 40px 10px 10px;
    border-radius: 3px;
    margin: 5px;
    border: 1px solid #97a5b3;
}
.forgotPassword > .forgotPasswordForm > .row.actions {
    display: flex;
    justify-content: center;
    position: relative;
    padding-top: 5px;
}
.forgotPassword > .forgotPasswordForm > .row.actions > button {
    background: #5998DE;
    height: 35px;
    line-height: 35px;
    outline: none;
    width: 49%;
    color: white;
    font-size: 16px;
    font-weight: 600;
}
.forgotPassword > .forgotPasswordForm > .row.actions > a {
    position: absolute;
    right: 0;
    top: 0;
    font-size: 12px;
}